# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# Environment files
.env
*.env

# Data files (optional if too large or already on Kaggle)
*.csv
*.zip

# OS files
.DS_Store
Thumbs.db

# Python virtual environment
venv/
ENV/
env/
